@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Prata&family=Tomorrow:ital,wght@1,700&display=swap');
@tailwind base;;
@tailwind components;
@tailwind utilities;


a.active hr{
  display: block;
}

*{
  font-family: Outfit;
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

.tomorrow {
  font-family: "Tomorrow", sans-serif;
  font-weight: 700;
  font-style: italic;
}


::-webkit-scrollbar{
  display: none;
}

@media (max-width:640px){
  a.active{
    background-color: black;
    color: white;
  }

}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.5s ease-out both;
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to   { opacity: 1; transform: translateY(0); }
  }
}

